html, body {
margin: 0;
padding: 0;
}
.general-wrap {
	display: flex;
	justify-content: space-around;
}

.article-list {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 50px;
	border-right: 2px solid#3b8ad4;
}

.app-weather {
	position: absolute;
}