@import '../assets/css/all.css';

@font-face {
	src: url('../assets/fonts/Lato/Lato-Regular/Lato-Regular.ttf');
	font-family: 'Lato Regular';
}

@font-face {
	font-family: 'Lato Regular';
	src: url('../assets/fonts/Lato/Lato-Regular/Lato-Regular.eot');
	src: url('../assets/fonts/Lato/Lato-Regular/Lato-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.general-wrap {
	display: flex;
	justify-content: space-around;
}

header {
	position: relative;
	width: 100%;
	height: 120px;
	line-height: 120px;
	text-align: center;
	background: linear-gradient(to right, #292b8a, #47a4fc);
}

header img {
	display: inline-block;
	width: 150px;
	height: 110px;
	margin: 0 auto;
	text-align: center;
}

.social {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8%;
}

.facebook, .twitter, .instagram {
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-left: 5px;
	background-color: #15a4fa;
	text-align: center;
	line-height: 40px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #5f5757;	
	color: #ffffff;
	transition: background-color ease-out 0.2s;
}

.facebook:hover {
	background-color: #3b5998;
}

.twitter:hover {
	background-color: #72baf1;
}

.instagram:hover {
	background-color: #c03792;
}

.article-list {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
	padding-right: 50px;
	border-right: 2px solid #3b8ad4;
}

.app-weather {
	position: absolute;
}

footer {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
	background: linear-gradient(to right, #292b8a, #47a4fc); 
}

footer p {
	margin-left: 25px;
	font-family: 'Lato-Regular', sans-serif;
	text-shadow: 1px 1px 2px #504e4e;
}

@media (max-width: 1625px) {
	main {
		margin-left: 15px;
		margin-right: 15px;
	}
}

@media (max-width: 1200px) {
	.general-wrap {
		display: flex;
		flex-direction: column;
	}
	main {
		margin-left: 20px;
		margin-right: 20px;
	}
	.article-list {
		align-self: center;
		order: 1;
		width: 95%;
		padding: 0;
		border-right: none;
	}
}

@media (max-width: 550px) {
	.social  {
		margin-right: 4%;
	}
}

@media (max-width: 490px) {
	.facebook, .twitter, .instagram {
		display: block;
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin-top: 3px;
		margin-left: 0;
	}
	
	.social {
		margin-top: 3px;
	}
}

@media (max-width: 430px) {
	footer p { 
		font-size: 0.8em;
		text-align: center;
		
	}
}