<div class="weather-window">
  <h2 class="city-name">{{city}}({{countryTicker}})</h2>
  <img src="http://openweathermap.org/img/w/{{pic}}.png" alt="">
  <h3>Current t&#176;: <span class="main-temp">{{temperature}}C&#176;</span></h3>
  <div class="temperature-range">
    <span class="min">Min t&#176;: {{minTemp}}C&#176;</span>
    <span>-</span>
    <span class="max">Max t&#176;: {{maxTemp}}C&#176;</span>
  </div>
  <p>{{cloud}}</p>
  <p>Humidity: {{wet}}%</p>
  <p>Wind speed: {{wind}}m/s</p>
</div>